<html lang="de-de" xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-de">
        
    
     <head>
       <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/> 
        <title>Bildungsstreik Berlin</title><link href="reset.css" media="screen" rel="stylesheet" type="text/css"><link href="text.css" media="screen" rel="stylesheet" type="text/css"><link href="960_24_col.css" media="screen" rel="stylesheet" type="text/css"><link href="jquery-ui-1.7.2.custom.css" media="screen" rel="stylesheet" type="text/css"><link href="layout.css" media="screen" rel="stylesheet" type="text/css"><link href="elements.css" media="screen" rel="stylesheet" type="text/css"><link href="http://bildungsstreik-berlin.de/articles/feed" rel="alternate" title="Artikel RSS Feed" type="application/rss+xml"><link href="http://bildungsstreik-berlin.de/events/feed" rel="alternate" title="Termin RSS Feed" type="application/rss+xml"></head><body>
<div id="hd">
<div class="container_24">
<div class="grid_12" id="bn">
<h1>Bildungsstreik Berlin</h1>
</div>
<div class="grid_12" id="extra">
<div class="login">
  <form action="http://bildungsstreik-berlin.de/user_session" class="new_user_session" id="new_user_session" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="uyh/r6pyAH3eDR9X4ZpR8CK5evQwDxSrF9S6VIA1O2Q="></div>
<a href="http://bildungsstreik-berlin.de/register">Noch nicht registriert?</a>
<input id="user_session_login" name="user_session[login]" size="30" type="text"><input id="user_session_password" name="user_session[password]" size="30" type="password"><input id="user_session_submit" name="commit" type="submit" value="Einloggen"></form>
</div>
</div>
</div>
</div>
<div id="nv">
<div class="container_24">
<ul class="grid_24"><li><a href="http://bildungsstreik-berlin.de/">Start</a></li>
<li><a href="http://bildungsstreik-berlin.de/articles">Nachrichten</a></li>
<li><a href="http://bildungsstreik-berlin.de/articles/discussion">Diskussion</a></li>
<li><a href="http://bildungsstreik-berlin.de/events">Termine</a></li>
<li><a href="http://bildungsstreik-berlin.de/hochschulrektorenkonferenz">HRK 24.11</a></li>
<li><a href="http://www.bildungsstreik-berlin.de/wiki">Wiki</a></li>
<li><a href="http://bildungsstreik-berlin.de/kontakt">Kontakt</a></li>
</ul></div>
</div>
<div class="clearfix" id="bd">
<div class="spacer"></div>

<div class="layout_2">
<div class="cn">
<h1>Kontakt</h1>
<p><b>Pressekontakt</b>
</p><p>Das gemeinsame Pressehandy der Berliner Koordinierung dient dazu, Kontakte zu vermitteln und Fragen zentral zu beantworten:</p>

<b>Presse-Gruppe Berlin</b>
<ul><li>Telefon: 0174-3648693</li>
</ul><b>Presse-Gruppe der BesetzerInnen des Hs 1a in der Freien Universit&#195;&#164;t:</b>
<ul><li>Email: fuberlinbrennt@gmail.com</li>
<li>Telefon: 0157-82577843</li>
</ul><b>Presse-Kontakt BesetzerInnen in der Humboldt-Universit&#195;&#164;t:</b>
<ul><li>Telefon: 0157-84101262</li>
</ul><b>Presse-Kontakt zur Alice-Salomon-Hochschule</b>
<p>*ash.presse@googlemail.com</p>

<b>&#195;&#156;berblick</b>
<b>Berlin</b>
<ul><li>Mailinggliste: <a href="https://lists.spline.inf.fu-berlin.de/mailman/listinfo/bildungsstreik-berlin">bildungsstreik-berlin@lists.spline.de</a></li>
</ul><b>Freie Universit&#195;&#164;t</b>
<ul><li>Infopunkt im HS 1a (Silberlaube)</li>
<li>Homepage: <a href="http://fu.bildungsstreik-berlin.de">http://fu.bildungsstreik-berlin.de</a></li>
<li>Facebook</li>
<li>StudiVZ</li>
<li>Twitter</li>
<li>Mailingliste: <a href="https://lists.riseup.net/www/info/bildungsstreik">bildungsstreik@lists.riseup.net</a></li>
</ul><b>Humboldt-Uni:</b>
<ul><li>Website <a href="http://unserehu.blogspot.com/">http://unserehu.blogspot.com/</a></li>
<li>Facebook:<a href="http://www.facebook.com/group.php?gid=176404458908">Link</a></li>
<li>StudiVZ: <a href="http://www.studivz.net/Groups/Overview/1f17f1a71bb00282">Link</a></li>
<li>Twitter: <a href="http://twitter.com/unserehu">http://twitter.com/unserehu</a></li>
</ul><b>Technische Universit&#195;&#164;t</b>
<ul><li>Homepage: <a href="http://tubrennt.wordpress.com/">http://tubrennt.wordpress.com/</a></li>
<li>Email: tuberlinbrennt@googlemail.com</li>
</ul><b>Alice-Salomon-Hochschule</b>
<p>t&#195;&#164;gliches Plenum: 12 Uhr &amp; 18 Uhr im Audimax</p>

<ul><li>Homepage: <a href="http://bildungsstreik-berlin.de/bildungsstreikash.blogsport.de">bildungsstreikash.blogsport.de</a></li>
<li>Email: ash.vernetzung@googlemail.com</li>
<li>Telefon: 0163-6612035</li>
<li>twitter: ash_brennt</li>
</ul><b>Kontakt zur Internet-Gruppe</b>
<p>Wir sind eine chronisch unterbesetzte Gruppe, die versucht die Seite am Laufen und aktuell zu halten. Wir versuchen den Willen des Berliner Koordinierungs-treffens Bildungsstreik umzusetzen. Wenn ihr &#195;&#132;nderungsw&#195;&#188;nsche oder grunds&#195;&#164;tzliche Kritik an der Seite habt, dann schreibt uns:</p>

<p><strong>bildungsstreik-berlin-it@lists.riseup.net</strong></p>
<div id="comments">
<h3>Kommentare</h3>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#1</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">11.11.2009 - 23:38</div>

</div>
<div class="text">
<p></p><p>IRC:

Server: irc.freenode.net
Channel: #bildungsstreik</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#2</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">11.11.2009 - 23:42</div>

</div>
<div class="text">
<p></p><p>Bla
bla
bla
test</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#3</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">11.11.2009 - 23:53</div>

</div>
<div class="text">
<p></p><p>Schaut doch noch mla nach wie ihr hier die zeichen umwandelt oder ist das bei abs&#195;&#164;tzen so gewollt das die im ANSI Code dargestellt werden  und sollte dieses html tag nicht umgewandelt werden sondern direkt so ausgegeben werden wie ich das hier geschireiben habe dann solltet ihr das auch beheben denn sonst kann man einige unsch&#195;&#182;ne SP&#195;&#164;&#195;&#159;e mit eurer Seite machen

2. wo finde ich Informationsmaterial zum Verteilen an meiner Schule??</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#4</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">12.11.2009 - 19:32</div>

</div>
<div class="text">
<p></p><p>Sch&#195;&#182;n, jedem Studenten sein kleines '68. Hatte meines ja auch. Es sei also jedem geg&#195;&#182;nnt. Gelernt hab ich nur eins: Auch Studenten sind irgendwann des Streikens m&#195;&#188;de, und was gebracht hat's auch nicht. Mit Sekt wurde unter den Streikaktivisten angesto&#195;&#159;en, nachdem beschlossen wurde, dass die Fakult&#195;&#164;t von 30 auf 13 Professuren gek&#195;&#188;rzt wird, anstatt sie insgesamt zu schlie&#195;&#159;en. Was soll ich sagen. Lehre und Forschung sind in dem Laden heute buchst&#195;&#164;blich da, wo keine Sonne hin scheint. Merke: Jeder feiert gern. Aber bitte erstmal nachdenken, ob das Resultat von Verhandlungen der ehemaligen Zielsetzung entspricht. Man muss es ja nicht immer Feiern nennen, manchmal kann man sich auch grundlos besaufen. Und wieder habt ihr einen bedeutenden Fehler gemacht: Der Winter ist eine sch. Zeit zum streiken, weil
a)Es ist witterungsbedingt ungem&#195;&#188;tlich auf der Stra&#195;&#159;e, was l&#195;&#164;ngere Demonstrationen und Flitzeraktionen zur tats&#195;&#164;chlichen Qual werden lassen.
b)aprospos Flitzeraktion. Sch&#195;&#182;n und gut, aber eigentlich denkt man ja doch nur an's V&#195;&#182;geln. Das Sommersemester bietet da hormonell mehr M&#195;&#182;glichkeiten.

Nochmal zu b) weils so ein sch&#195;&#182;nes Thema ist. Ziert euch nicht so. Streik ist anstrengend, und da ist es besser sich im Bett (notfalls auch Isomatte in der Uni) zu entspannen, als sich jeden Abend in geselliger Runde besaufen zu m&#195;&#188;ssen. Das schl&#195;&#164;gt auf die Dauer auf die Substanz - ich wei&#195;&#159; wovon ich rede. Und keine bekifften Interviews morgens um 9.00 Uhr. Das macht auch keinen guten Eindruck.

Ansonsten viel Spa&#195;&#159; bei den Aktionen. N&#195;&#164;chstes Jahr gibt's wieder ein Wintersemester. Da werden die meisten Vorlesungen wahrscheinlich wieder angeboten. Und diskutiert sachlich untereinander &#195;&#188;ber wirklich relevante Inhalte (!), dann gehen die Podien schneller, man kann fr&#195;&#188;her das erste Bier aufmachen, und wenn man Gl&#195;&#188;ck hat kommt man dementsprechend auch fr&#195;&#188;her zum Zuge.

&#195;&#156;brigens - bei Vollversammlungen kann man auch prima alte demokratische Abstimmungsmethoden ausprobieren. Unvergessen der, ich glaube, f&#195;&#188;nffache Hammelsprung im Audimax der Humboldt-Uni anno 2003. Herrlich. Das tut dem demokratischen Grundwissen eines jeden wirklich gut.
 
Also, have fun!

Der Veteran (anno 2003)</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#5</div>
<div class="author">
<b>zeitgenosse</b>
</div>
<div class="date">13.11.2009 - 01:29</div>

</div>
<div class="text">
<p></p><p>Hallo, 
k&#195;&#182;nntet ihr eventuell eine Spoilerfunktion einbauen oder irgendwie anders daf&#195;&#188;r sorgen, dass die Artikel auf der Startseite nicht in ihrer eigentlichen L&#195;&#164;nge angezeigt werden, sondern nur eine gewisse Textl&#195;&#164;nge? 
Mein Artikel ist ziemlich lang geworden und der verdeckt auf der Startseite alles. Das ist so nicht gewollt von mir, da w&#195;&#188;rden die ersten paar Zeilen schon v&#195;&#182;llig ausreichen, wenn man den dann per Mausklick ausklappen k&#195;&#182;nnte. 

LG</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#6</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">13.11.2009 - 14:59</div>

</div>
<div class="text">
<p></p><p>Die Vollversammlung an der TU war ja wohl ein Witz.

Kein Wunder das sich so wenige Studenten daran beteiligen...

Man hatte schon stark die Vermutung das einige der Leute die sich da zu Wort meldeten sehr stark politisch Orientiert waren und einfach Dinge angebracht wurden die mit BILDUNG nichts zu tun hatten. 
Wer fragt sich den noch warum so wenig Leute kommen wenn "Abschaffung des Kapitalismus" oder "radikale Demonstrationen" gefordert werden.

Weiter muss man sagen das Kritik nicht gerade gew&#195;&#188;nscht war, was schon Schade f&#195;&#188;r eine "Diskussionsrunde" ist.

Das "sch&#195;&#182;nste" war jedoch als man die in der Nacht zuvor ausgearbeiten Forderungen pr&#195;&#164;sentierte. 
mit
- Abschaffung der Anwesenheitspflicht(war der 1.Punkt)
- Abschaffung von Hausaufgabenzwang
fragt man sich doch wirklich wo das hin f&#195;&#188;hren soll.
Warum hatt man nicht als Forderung die Abschaffung der Klausuren gew&#195;&#164;hlt.

Wenn man die Forderung des ersten Teil zusammenfast laufen sie auf "Schenkt uns den Abschluss" hinaus.

Einige Forderungen kamen einem ja auch sehr Sinnvoll vor. Nur kamen die nicht als erstes.
Wenn man endlich mal aufh&#195;&#182;ren w&#195;&#188;rde die ganze Sache immer politisch aus zunutzen und  dann klare Forderungen, die alle Studenten bertreffen, formulieren w&#195;&#188;rde, g&#195;&#164;be es auch eine wesentlich h&#195;&#182;here Beteiligung.

KEINE STUDIENGEB&#195;&#156;HREN
MEHR MITSPRACHE RECHT 
MEHR GELD F&#195;&#156;R BILDUNG DORT WO ES BEN&#195;&#150;TIGT WIRD
MEHR MASTER STUDIENPL&#195;&#132;TZE
...

Aber nicht 
Abschaffung des Kapitalismus 
oder Abschaffung von Anwesenheitspflicht.

Im Gegenteil, es wird doch erst nach Teilnehmerzahlen entschieden wie viel Mittel einzelne Bereiche zugesprochen kommen.

Radikal ist der Falsche Weg.
Denn Autonomen wurde offensichtlich die Bildung verwehrt.

Die Vollversammlung hat denk ich mehr Studenten vertrieben als geworben...

Denn

Wer nicht rot ist war dort nicht willkommen...</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#7</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">13.11.2009 - 21:56</div>

</div>
<div class="text">
<p></p><p>Uns Deutschen wird vielfach, ich finde zurecht, aufgrund von unserer Geschichte aber auch von der trockenen Art und Weise, immer und &#195;&#188;berall Humorlosigkeit und Langweile vorgeworfen. 

Ich m&#195;&#182;chte diesem Klische entgegenwirken und w&#195;&#188;rde gern einen Vorschlang einbringen. Ich w&#195;&#188;rde die Mensa bitten ein paar Gerichte dem Bildungsstreik anzupassen und Speisenamen anzubieten, die direkt den Bildungsstreik unterstreichen. Ich w&#195;&#188;rde zum Beispiel die K&#195;&#182;che bitten das Wort "Bildungsstreik", "unibrennt", "Wien" in die Namen der Gerichte einzubauen. So k&#195;&#182;nnte dann zum Beispiel die Mohrenkohlsuppe in "Bildungsstreiksuppe mit M&#195;&#182;hren und Gem&#195;&#188;se" umgetauft werden.

Ich finde es sch&#195;&#182;n wenn mein Vorschlag ernst gemeint w&#195;&#188;rde und nicht untergeht.

Ich w&#195;&#188;rde liebend gern "Bildungsstreik Fischsuppe" auf dem Men&#195;&#188; der Mensa sehen.

virtuelle Gr&#195;&#188;&#195;&#159;e, AZ
</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#8</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">13.11.2009 - 22:07</div>

</div>
<div class="text">
<p></p><p>unsere seite ist nur in DEUTSCH! europa und UK besteht aus vielen sprachen, englisch ist vielleicht unbeliebt aber die meist verbreitete, gibt es an der FU keine Anglisten? Hat die FU eine Englisch Fachschaft? Werden an der FU keine Dolmetscher mehr ausgebildet? Wo sind die zuk&#195;&#188;nftige Englisch Spezialisten, &#195;&#156;bersetzer, Sprachwissenschaftler?....danke, X</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#9</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">14.11.2009 - 07:29</div>

</div>
<div class="text">
<p></p><p>Wir haben gestern und vorgestern schon angefangen, Pressemitteilungen zu &#195;&#188;bersetzen. Wir suchen noch flei&#195;&#159;ige &#195;&#156;bersetzerinnen. Macht euch einfach ans Werk und schickt uns die &#195;&#156;bersetzung. Wir stellen sie dann online. Gleiches gilt f&#195;&#188;r den restlichen Inhalt der Seite!

LG P.</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#10</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">14.11.2009 - 21:40</div>

</div>
<div class="text">
<p></p><p>Mein Eindruck von der TU-VV am 13.11.09 12:00_________
In der einen Ecke standen zw&#195;&#182;lf K&#195;&#164;sten Bier. Alles Flaschen waren leer. Hinter der Leinwand (schlecht versteckt &#195;&#188;brigens) stand ein Einkaufswagen mit noch einmal sch&#195;&#164;tzungsweise 100 leeren Flaschen, haupts&#195;&#164;chlich Bier und Club Mate. Und die Tatsache, dass einge Penner (oder doch Studenten?) im Audimax geschlafen haben und zwar mit ihren Hunden, hat leider dazu gef&#195;&#188;hrt, dass einige Studenten schon des Geruchs wegen dem Audimax fern blieben.</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#11</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">14.11.2009 - 23:23</div>

</div>
<div class="text">
<p></p><p>Au weia...</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#12</div>
<div class="author">
<b>Bildungsstreik-Berlin</b>
</div>
<div class="date">15.11.2009 - 11:22</div>

</div>
<div class="text">
<p></p><p>Die TU-Besetzung hat jetzt ein eigenes Wiki und einen eigenen Blog. Dort k&#195;&#182;nnt ihr eure Kommentare hinterlassen. Das hier ist die Kontakt-Seite.</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#13</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">16.11.2009 - 08:44</div>

</div>
<div class="text">
<p></p><p>ich bin zwar weder student noch sch&#195;&#188;ler m&#195;&#182;chte sp&#195;&#164;ter aber auch kinder haben,und m&#195;&#182;chte dass sie ein bildungssystem genie&#195;&#159;en das nicht von der wirtschaft beeinflusst wird. ich kann aber leider nicht zur demo kommen weil sie am vormittag statt findet. es ist doch klar dass eine demonstration die alle betrifft am nachmittag beginnt. da bekommt man doch schnell den eindruck dass es den mei&#195;&#159;ten nur um ein freien b.z.w. verk&#195;&#188;rzten tag geht.
P.S.liebe studenten und organiesatoren dieser demos.es w&#195;&#164;re dumm wenn ihr alle demos vormittags oder mittags macht.ich k&#195;&#182;nnte wetten dass 30% der berliner euch unterst&#195;&#188;tzen w&#195;&#188;rden.</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#14</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">16.11.2009 - 10:56</div>

</div>
<div class="text">
<p></p><p>bla bla bla</p>
</div>
</div>
<div class="comment">
<div class="side">
<p>
</p><div class="index">#15</div>
<div class="author">
<b>Gast</b>
</div>
<div class="date">19.11.2009 - 10:50</div>

</div>
<div class="text">
<p></p><p>F&#195;&#188;r Leute, die's interessiert ... da gibt es ein Portal, da hat jetzt nen vier-buchstabiger, beidseitig bedruckter Klopapierherausgeber einen weg gefunden, um so ein bisschen die leute zu fishen:
http://www.studivz.net/studentenproteste

</p>
</div>
</div>
<div class="center">
<div class="pagination"><span class="disabled prev_page">&#171; Previous</span> <span class="current">1</span> <a href="http://bildungsstreik-berlin.de/pages/1?page=2#comments" rel="next">2</a> <a href="http://bildungsstreik-berlin.de/pages/1?page=2#comments" class="next_page" rel="next">Next &#187;</a></div>
</div>
<h3 class="comment">Kommentar schreiben</h3>
<form action="http://bildungsstreik-berlin.de/pages/1/comments" class="new_comment" id="new_comment" method="post"><div style="margin:0;padding:0;display:inline"><input name="authenticity_token" type="hidden" value="uyh/r6pyAH3eDR9X4ZpR8CK5evQwDxSrF9S6VIA1O2Q="></div>

<label for="comment_text">Text</label>
<br><textarea cols="40" id="comment_text" name="comment[text]" rows="20"></textarea><script type="text/javascript" src="challenge"></script><noscript>
  <iframe src="http://api.recaptcha.net/noscript?k=6LfKSwkAAAAAAOj_fNzkKzjr2tIC-y3qbjF-S2qM" height="300" width="500" frameborder="0"></iframe><br><textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea><input type="hidden" name="recaptcha_response_field" value="manual_challenge"></noscript>

<br><p>
<input id="comment_submit" name="commit" type="submit" value="Absenden"></p>
</form>

</div>

</div>
<div class="sb">
<h2>Meta</h2>
<ul class="meta"><li>Kommentare: 17</li>
<li>letzte Aktualisierung: 17.11.09</li>
</ul><ul><li><a href="http://bildungsstreik-berlin.de/pages/1/versions">Versionen/Autoren einsehen</a></li>
<li><a href="http://bildungsstreik-berlin.de/pages/1/edit">Seite bearbeiten</a></li>
</ul></div>
</div>

</div>
<script type="text/javascript">
  //<![CDATA[
    window._auth_token_name = "<%= request_forgery_protection_token %>";
    window._auth_token = "<%= form_authenticity_token %>";
  //]]>
</script><script type="text/javascript">
  //<![CDATA[
    //<![CDATA[
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/bildungsstreik-berlin/get_num_replies.js' + query + '"></' + 'script>');
    })();
    //]]>
  //]]>
</script><script src="all.js" type="text/javascript"></script></body></html>
